############################
# MAVEN
############################
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/
/dependency-reduced-pom.xml

############################
# INTELLIJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr
out/

############################
# ECLIPSE
############################
.project
.classpath
.settings/
bin/
tmp/
.metadata/
*.prefs

############################
# VS CODE
############################
.vscode/
*.code-workspace

############################
# GENERAL
############################
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
